<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in</title>
     <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">
     <style>
         .container{
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             margin-top: 50px;
         }
       
    </style>
</head>
<body>
    <div class="container">
        <h1>SUCCESFULLY LOGGED IN</h1>
        <a href="/logout"><button class="btn btn-primary btn-lg">Logout</button></a>
    </div>
</body>
</html>