<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">
     <style>
        #alert,a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            align-items: center;
            margin: 2px auto;
        }
        button{
            align-items: center;
            margin: auto;
            justify-items: center;
        }
      
   </style>
</head>
<body>
    <div class="conatiner">
        <div class="alert alert-danger" role="alert" id="alert">
            Either password or username is wrong
        </div>
        <a href="/error"><button class="btn btn-primary btn-lg">Try Again</button></a>
    </div>
</body>
</html>